<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Contactez-nous</title>
    <link rel="stylesheet" href="/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <nav>
        <img class="logo" src="/assets/2.png" alt="logo trendy pink ambassador">
        <div>
            <a href="/">Accueil</a>
            <a href="/services">Nos services</a>
            <a href="/contact">Contactez-nous</a>
        </div>
    </nav>
    <h1>Contactez-nous</h1>
    <section class="contact">
        <form class="contact-form">
            <input type="text" name="name" placeholder="Votre nom" required>
            <input type="email" name="email" placeholder="Votre email" required>
            <input type="text" name="subject" placeholder="Objet" required>
            <textarea name="message" rows="5" placeholder="Votre message" required></textarea>
            <button type="submit">Envoyer</button>
        </form>
        <div class="contact-info">
            <p><i class="fas fa-envelope"></i> email@gmail.com</p>
            <p><i class="fas fa-phone"></i>+225 00 00 00 00</p>
            <p><i class="fas fa-map-marker-alt"></i>Rond point Riviera palmeraie</p>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Gomycode. Tous droits réservés.</p>
            <div class="social-media">
                <a href="https://www.facebook.com/Gomycode" ><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
                <a href="https://www.twitter.com/Gomycode"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/Gomycode" ><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>
