<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nos services</title>
    <link rel="stylesheet" href="/services.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <nav>
        <img class="logo" src="/assets/2.png" alt="logo trendy pink ambassador">
        <div>
            <a href="/">Accueil</a>
            <a href="/services">Nos services</a>
            <a href="/contact">Contactez-nous</a>
        </div>
    </nav>
    <h1>Nos services</h1>
    <h3>Voici les services que nous offrons.</h3>

    <section class="services">
        <div class="service">
            <i class="fas fa-laptop-code"></i>
            <h3>Développement Web</h3>
            <p>Création de sites web dynamiques et performants adaptés à vos besoins.</p>
        </div>
        <div class="service">
            <i class="fas fa-database"></i>
            <h3>Data Science</h3>
            <p>Analyse de données pour vous aider à prendre des décisions basées sur des données concrètes.</p>
        </div>
        <div class="service">
            <i class="fas fa-paint-brush"></i>
            <h3>Design UI/UX</h3>
            <p>Conception d'interfaces utilisateur intuitives et attrayantes pour une meilleure expérience utilisateur.</p>
        </div>
        <div class="service">
            <i class="fas fa-bullhorn"></i>
            <h3>Marketing Numérique</h3>
            <p>Stratégies de marketing en ligne pour augmenter votre visibilité et attirer plus de clients.</p>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Gomycode. Tous droits réservés.</p>
            <div class="social-media">
                <a href="https://www.facebook.com/Gomycode" ><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
                <a href="https://www.twitter.com/Gomycode"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/Gomycode" ><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </footer>
    
</body>
</html>
